<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

     <script
       src="http://code.jquery.com/jquery-3.3.1.js"
       integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
       crossorigin="anonymous"></script>
       <script src="js/main.js">
       </script>
  </head>
  <body>
    <div class="container">

    <title>Members</title>
</head>
<body>
    <h1><%= title %></h1>

    <h2>Add User</h2>
    <form method="POST" action="/api/members" style="width: 30%">
        <div class="form-group">
        <label for="firstName">First Name</label>
        <input class="form-control" type="text" name="name" value="" >
        </div>
        <br>
        <div class="form-group">
        <label for="email">Email</label>
        <br>
        <input class="form-control"  type="email" name="email" value="">
        </div>
        <br>
        <div class="form-group">
        <input class="btn btn-lg btn-success" type="submit" name="" value="Add Member">
    </form>
    
    <ul>
        <%members.forEach(function(member){ %>
        <li> <%= member.name%> <br> <%=member.email%> </li>
        <% }) %>
    </ul>
</body>
</html>

    
    